.slider{
    img{
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
}

.card {
    img {
        height: 200px;
        object-fit: cover;
    }
}

.card-img-top {
    height: 250px !important;
    width: 100%;
    object-fit: cover;
}